.main-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &>nav {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 999;


        .nav-links {
            display: inline-flex;
            gap: 3vw;

            &>a {
                font-size: 0.9rem;
                position: relative;

                &:after {
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    content: " ";
                    opacity: 0;
                    transition: 0.3s opacity;
                }
            }


        }
    }

    @include themify($themes) {
        &>nav {
            background-color: $dark-background-color;

            .nav-links {
                &>a {
                    color: themed('subtle-text-color');


                    &:is(&.active, &:hover) {
                        color: white;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &-inner {
        flex: 1;
        padding-top: 40px;
        padding-bottom: 20px;
    }

}