$themes: (
    light-mode: (primary-color: #5B78F6,
        background-color: #F6F9FC,
        primary-text-color: #0F0F0F,
        subtle-text-color: #BCBCBC,
    ),
    dark-mode: (primary-color: #5B78F6,
        background-color: #0F0F0F,
        primary-text-color: #FCFCFC,
        subtle-text-color: #838383,
    )
);