$primary-color :#5B78F6;

// Dark Theme
// Background Colors
$dark-background-color: #0F0F0F;

// text colors
$dark-primary-text-color : #FCFCFC;
$dark-subtle-text-color : #838383;

// Light Theme
// Background Colors
$light-background-color: #F6F9FC;

// text colors

$light-primary-text-color :#0F0F0F;
$light-subtle-text-color : #BCBCBC;