.home-page-wrapper {
    display: flex;

    .home-rows-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;

        .intro-card {
            grid-area: intro;
            display: flex;
            gap: 20px;
            align-items: center;


            &>div {
                &:first-child {
                    flex: 0.4;
                    height: 250px;
                    position: relative;

                }

                &:last-child {
                    flex: 0.6;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
    }
}